.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  margin-bottom: 1rem;
  width: 100%;
}

textarea {
  resize: none;
}

input:not([type="radio"]):not([type="checkbox"]):not([type="file"]), textarea {
  background-color: var(--input-base);
  border-radius: 8px;
  border: 1px solid var(--input-stroke);
  padding: 1rem;
  font: var(--body-md);
  color: var(--input-placeholder);
  cursor: pointer;
  outline: 1px solid transparent;
}

input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):focus-within, textarea:focus {
  outline: 1px solid var(--brand-light);
}

input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):hover, textarea:hover  {
  outline: 1px solid var(--brand-light);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="date"] {
  text-transform: uppercase;
}

label {
  color: var(--text-body);
  font: var(--body-sm); 
}